<header class="jumbotron hero-spacer">
  <h1>{{title}}</h1>
  <p>Votre panier s'élève à {{getTotal() | currency:'EUR'}}</p>
  <p><a class="btn btn-primary btn-large" [routerLink]="['/basket']">Voir mon panier</a></p>
</header>

<hr>

<div class="row">
  <div class="col-lg-12">
    <h2>Derniers Produits</h2>
  </div>
</div>

<div class="row text-center">
  <ng-container *ngFor="let product of products | sort:'title'">
    <app-product *ngIf="isAvailable(product)" [data]="product" (addToBasket)="updatePrice($event)"></app-product>
  </ng-container>
</div>
